{% extends 'base.html' %} {% block content %}
    <main>
    <header>
     <h1>Expense Categories</h1>
    </header>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% comment %} INSERT FOR LOOP CONTAINING DETAILS {% endcomment %}
        </tbody>
        {% for item in expensecategory_list %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.receipts.all|length }}</td>
        </tr>
        {% endfor %}

    </table>
    </main>
    {% endblock content %}
