{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expenses</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
  </head>

  <body>
      <nav>
        {% if request.user.is_authenticated %}
          <a href="{% url 'home' %}">Receipts</a>
          <a href="{% url 'receipt_new' %}">Create receipt</a>
          <a href="{% url 'receipt_account_list' %}">Accounts</a>
          <a href="{% url 'receipt_account_new' %}">Create account</a>
          <a href="{% url 'receipt_category_list' %}">Categories</a>
          <a href="{% url 'receipt_category_new' %}">Create category</a>
          <a href="{% url 'logout' %}">Logout</a>
          {% else %}
          <a href="{% url 'signup' %}">Sign Up</a>
          <a href="{% url 'login' %}">Login</a>
          {% endif %}
      </nav>
    {% block content %} {% endblock content %}
  </body>
</html>
