{% extends 'base.html' %} {% block content %}
  <main>
    <header>
     <h1>Accounts</h1>
    </header>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for item in account_list %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.number }}</td>
                <td>{{ item.receipts.all|length }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </main>
    {% endblock content %}
