{% extends 'base.html' %} {% block content %}
  <main>
    <header>
     <h1>Create Account</h1>
    </header>
    <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <div class="control">
            <button class="button">Create</button>
        </div>
    </form>
</main>
{% endblock content %}
