{% extends 'base.html' %} {% block content %}
      <main>
        <h1> Login </h1>
      <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button>Login</button>
    </form>
  </main>
  {% endblock content %}
