{% extends 'base.html' %} {% block content %}
  <main>
    <header>
    </header>
    <form method="post">
        <h1>Create Receipt</h1>
        {% csrf_token %} {{ form.as_p }}
        <div class="control">
            <button class="button">Create</button>
        </div>
    </form>
  </body>
</main>
{% endblock content %}
