nav {
    text-align: center;
    padding: 18px;
}

h1 {
    text-align: center;
}

main {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

th {
    border: 1px solid lightblue;
}

form {
    border: 1px solid black;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.center_box {
    margin: auto;
    width: 60%;
}
